accelerate==0.20.3
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
anyio==3.7.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
backoff==2.2.1
cached-property==1.5.2
certifi==2022.12.7
charset-normalizer==2.1.1
chroma-hnswlib==0.7.2
chromadb==0.4.4
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.0
cpm-kernels==1.0.11
cycler==0.11.0
dataclasses-json==0.5.13
datasets==2.13.0
decorator==5.1.1
dill==0.3.6
environs==9.5.0
executing==1.2.0
fastapi==0.97.0
ffmpy==0.3.0
filelock==3.9.0
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
gradio==3.39.0
gradio_client==0.3.0
greenlet==2.0.2
grpcio==1.56.0
h11==0.14.0
httpcore==0.17.2
httptools==0.6.0
httpx==0.24.1
huggingface-hub==0.15.1
humanfriendly==10.0
idna==3.4
importlib-resources==6.0.0
ipython==8.14.0
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
langchain==0.0.246
langsmith==0.0.15
latex2mathml==3.76.0
linkify-it-py==2.0.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdtex2html==1.2.0
mdurl==0.1.2
monotonic==1.6
mpmath==1.2.1
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
networkx==3.0
nltk==3.8.1
numexpr==2.8.4
numpy==1.25.2
onnxruntime==1.15.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
orjson==3.9.1
overrides==7.3.1
packaging==23.1
pandas==2.0.2
parso==0.8.3
pickleshare==0.7.5
Pillow==9.3.0
posthog==3.0.1
prompt-toolkit==3.0.39
protobuf==4.23.3
psutil==5.9.5
pulsar-client==3.2.0
pure-eval==0.2.2
pyarrow==12.0.1
pydantic==1.10.9
pydub==0.25.1
Pygments==2.15.1
pymilvus==2.2.14
pyparsing==3.0.9
PyPika==0.48.9
pyreadline3==3.4.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
requests==2.28.1
rouge-chinese==1.0.3
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
semantic-version==2.10.0
sentencepiece==0.1.99
six==1.16.0
sklearn-pmml-model==1.0.3
sniffio==1.3.0
SQLAlchemy==2.0.19
stack-data==0.6.2
starlette==0.27.0
strsimpy==0.2.1
sympy==1.11.1
tenacity==8.2.2
threadpoolctl==3.2.0
tokenizers==0.13.3
toolz==0.12.0
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tqdm==4.65.0
traitlets==5.9.0
transformers==4.27.1
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
ujson==5.8.0
urllib3==1.26.13
uvicorn==0.22.0
watchfiles==0.19.0
wcwidth==0.2.6
websockets==11.0.3
xxhash==3.2.0
yarl==1.9.2